<!DOCTYPE html>
<html>
	<head>
		<title>Bookseller</title>
		<link rel="stylesheet" href="../../css/style.css" />
	</head>
	<body>
	
	<div id="login_cab">
		<label for="login">login:</label><br />
		<input type="text" name="login" /><br />
		<label for="login">password:</label><br />
		<input type="text" name="password" /><br />
		<input type="submit" name="enter" value="enter" /><br />
		<a href="#">registration</a>
	</div>
	
		<table id="table_site">
			<tr>
				<td>
					<div id="header">
						header
					</div>
				</td>
			</tr>
			
			<tr>
				<td >
					<div  id="menu">
						<div id="search">
							<input type="text" name="search" />
							<input type="submit" name="search" value="search" />
						</div>
						
						<div id="nav">
							<ul>
								<li>
									<a>Super main</a>
									<ul>
										<li><a href="#">main</a></li>
										<li><a href="#">catalogue</a></li>
										<li><a href="#">cart</a></li>
										<li><a href="#">contacts</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</td>
			</tr>
			
			<tr>
				<td>
					<div id="content">
						content
					</div>
				</td>
			</tr>
			
			<tr>
				<td>
					<div id="footer">
						footer
					</div>
				</td>
			</tr>
		</table>
	</body>
</html>
